<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up for Chat App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
</head>
<body style="background-color: rgb(7, 94, 84);">
    <div class="container mt-5">
        <div>
            <h2 style="color: white;text-align: center;"><strong>Chat App</strong></h2>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form id="signup" onsubmit="signUp(event)">
                        <h3 style="text-align: center;color: rgb(7, 94, 84)">Sign Up</h3>
                        <div class="form-floating mb-3">
                            <input type="text" id="name" class="form-control" placeholder="placeholder" required>
                            <label for="name">Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" id="email" class="form-control" placeholder="placeholder" required>
                            <label for="email" class="form-label">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" id="mobilenumber" class="form-control" placeholder="placeholder" required>
                            <label for="mobilenumber" class="form-label">Mobile Number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" id="password" class="form-control" placeholder="placeholder" required>
                            <label for="password" class="form-label">Password</label>
                        </div>
                        <button class="form-control" style="background-color: rgb(7, 94, 84);color: white;"><strong>Sign Up</strong></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>